.navbar {
  width: 100%;
  padding: 16px 0;
  background: #121212;
  display: flex;
  justify-content: center; 
  gap: 40px;
  border-radius: 0 0 12px 12px; 
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}


.navbar .nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.navbar .nav-links a:hover {
  background: #1f1f1f;
  color: #4f46e5;
}

.controls {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-top: 20px;
}


.controls button {
  padding: 14px 32px; 
  border-radius: 14px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

#check {
  background: #4f46e5;
  color: white;
}

#check:hover {
  background: #4338ca;
}

#next {
  background: #27272a;
  color: #e5e7eb;
}

#next:hover {
  background: #3f3f46;
}
